:root {
  --1: #E4DED1;
  --a: #f2eee6;
  --2: #feded4;
  --b: #fff4ef;
  --3: #f07b5c;
  --c: #ffaa7f;
  --4: #6f2511;
  --d: #dc532d;
  --5: #95a9d4;
  --e: #b5ceff;
  --6: #1c1a56;
  --f: #534dde;
}